/*
    GBG_ : Global background color
    CBG_ : Controls background color
    CBGH : Controls background color highlighted
    ACC_ : Selection/Activation background color
    ACCH : Selection/Activation background color hightlighted
    LCTL1 : Light controls gradient light
    LCTL2 : Light controls gradient dark
    LCTL3 : Light controls gradient darker
    LCTLD : Light controls disabled background
    DCTL1 : Dark controls gradient light
    DCTL2: Dark controls gradient dark
    DCTLD: Dark controls disabled background
    TXACC: Text on Selection/Activation
    TXGBG: Text on Global background
    TXCBG: Text on controls background
    TXL1: Text slightly lighter
    TXL2: Text lighter even more
    TXD: Text disabled
    GLS: Glossy edge on controls
    SHD: Shades edge on controls
*/

QWidget
{
    background-color: GBG_;
    color: TXGBG;
}

QLabel
{
    background: transparent;
    font-size: 14px;
}

QScrollArea
{
    border-width: 1px;
    border-radius: 5px;
}

QLineEdit, QTextEdit
{
    padding: 2px;
    border-radius: 7px;
    border: 1px solid SHD;
    border-bottom: 1px solid GLS;
    selection-color: TXACC;
    selection-background-color: ACC_;
}
QLineEdit /*We can't apply gradient to TextEdit cuz it messes with scroll bar*/
{
    background:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 CBG_, stop:1 GBG_);
}

QPushButton
{
    border-width: 1px;
    padding: 2px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 8px;
    border-color: GLS;
    border-top-color: SHD;
    border-style: solid;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 LCTL1, stop:1 LCTL2)
}

QPushButton:pressed
{
    border-top-color: GLS;
    border-bottom-color: SHD;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 LCTL3, stop:1 LCTL1)
}

QPushButton:disabled
{
    background-color: LCTLD;
    color: TXD;
}

QScrollBar::handle
{
    border: 0px;
    border-radius: 5px;
    background-color: SCBN
}
QScrollBar::horizontal{height: 10px}
QScrollBar::vertical{width:10px}

QScrollBar::handle:hover
{
    background-color: SCBH
}

QScrollBar::add-line, QScrollBar::sub-line
{
    height:0px
}

QProgressBar
{
    border: none;
    background-color: DCTL2;
    height: 8px;
    border-radius: 4px;
    font-size: 1px;
    color: transparent;
}

QProgressBar::chunk
{
    border: none;
    border-radius: 4px;
    background-color: ACC_;
}

/* Custom widgets */

ElidedLabel
{
    background: transparent;
}

#styAboutDesc
{
    color: TXL1
}

SpkAppItem
{
    background: DCTL2;
    border-radius: 11px;
}

SpkAppItem::hover
{
    background: DCTL1;
}

#styAppItmTitle
{
    font-weight: 500;
    font-size: 17px;
}

#styDetTitle
{
    font-weight: 600;
    font-size: 36px;
}

#styAppItmDesc
{
    color: TXL1;
    font-size: 12px;
}

#styDetDesc
{
    color: TXL1;
    font-size: 14px;
}

#styDetPkg
{
    color: TXL2
}

#styChkBtn
{
    border-width: 0px;
    background-color: DCTL1
}

#styChkBtn:pressed
{
    background-color: ACCH
}

#styChkBtn:checked
{
    background-color: ACC_
}

#styPlainChkBtn
{
    border-width: 0px;
    background-color: GBG_
}

#styPlainChkBtn:pressed
{
    background-color: ACCH
}

#styPlainChkBtn:checked
{
    background-color: ACC_
}

SpkIconButton
{
    border-width: 0px;
    background-color: GBG_;
}

SpkIconButton:pressed
{
    background-color: ACCH;
}

SpkIconButton:checked
{
    background-color: ACC_;
}

SpkTitleBar
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 DCTL2, stop:1 DCTL1)
}

SpkTitleBarDefaultButton
{
    margin: 0px;
    border-radius: 0px;
    border-width: 0px;
    background-color: GBG_;
}

SpkTitleBarDefaultButton:hover
{
    background-color: DCTL1;
}

SpkTitleBarDefaultButton:pressed
{
    background-color: LCTL3;
}

/* Window widgets */

#styMwCateg
{
    border: none;
    font-size: 14px;
    show-decoration-selected: 1;
}

#styMwCateg::item
{
    height: 35px;
    border: none;
    color: TXCBG;
}

#styMwCateg::item:selected
{
    color: TXACC;
    background-color: ACC_;
}

#styMwCateg::branch:!has-children
{
    background: GBG_;
}

#styMwCateg::branch:selected
{
    background-color: ACC_;
}
