Source: spark-store
Maintainer: shenmo <shenmo@spark-app.store>
Section: utils
Priority: optional
Build-Depends:
 debhelper (>= 9),
 pkg-config,
 qtchooser (>= 55-gc9562a1-1~),
 libqt5core5a,
 libqt5gui5,
 libqt5widgets5,
 libqt5network5,
 libqt5concurrent5,
 libdtkcore-dev(>=5.0),
 libdtkgui-dev(>=5.0),
 libdtkwidget-dev(>=5.0),
 libqt5svg5-dev,
 qttools5-private-dev,
 qtwebengine5-dev,
 qtwayland5,
 qtwayland5-dev-tools,
 gcc,
 g++
Standards-Version: 4.0.0
Homepage: https://www.spark-app.store/

Package: spark-store
Architecture: any
Depends: ${misc:Depends},
 libqt5core5a,
 libqt5gui5,
 libqt5widgets5,
 libqt5network5,
 libqt5concurrent5,
 curl,
 openssl,
 aria2,
 gcc,
 zenity,
 libc6-dev,
 policykit-1,
 libnotify-bin
Description: Spark Store
 A community powered app store, based on DTK.
