Source: spark-store
Maintainer: shenmo <shenmo@spark-app.store>
Section: utils
Priority: optional
Build-Depends:
 cmake,
 debhelper (>= 11),
 pkg-config,
 qtchooser (>= 55-gc9562a1-1~),
 qt6-base-dev,
 qt6-svg-dev,
 qt6-tools-dev,
 qt6-webengine-dev,
 libdtkcommon-dev,
 libdtk6core-dev,
 libdtk6gui-dev,
 libdtk6widget-dev
Standards-Version: 4.0.0
Homepage: https://www.spark-app.store/

Package: spark-store
Architecture: any
Provides: spark-store-console-in-container
Depends: ${shlibs:Depends}, ${misc:Depends},
 dde-qt6integration,
 curl,
 openssl,
 aria2,
 gnupg,
 zenity,
 policykit-1 | pkexec,
 libnotify-bin,
 desktop-file-utils,
 dpkg-dev
Description: Spark Store
 A community powered app store, based on DTK.
