#!/usr/bin/make -f

export QT_SELECT = qt5
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
include /usr/share/dpkg/default.mk

DEB_BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# Use realtime timestamp instead of the latest entry in debian/changelog
SOURCE_DATE_EPOCH := $(shell date +%s)

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE = 1

%:
	dh $@ --parallel

override_dh_auto_clean:
	rm -rf $(CURDIR)/build-$(DEB_HOST_MULTIARCH)

override_dh_auto_configure:
	mkdir -p $(CURDIR)/build-$(DEB_HOST_MULTIARCH)

	qmake BUILD_VERSION=$(DEB_VERSION_UPSTREAM) spark-store-project.pro \
	-spec linux-g++ CONFIG+=force_debug_info \
	-o $(CURDIR)/build-$(DEB_HOST_MULTIARCH)/

override_dh_auto_build:
	make -C $(CURDIR)/build-$(DEB_HOST_MULTIARCH) -j$(JOBS)

override_dh_auto_install:
	make -C $(CURDIR)/build-$(DEB_HOST_MULTIARCH) install \
	INSTALL_ROOT=$(CURDIR)/debian/spark-store

# Ignore the dpkg-shlibdeps: warning (it uses none of the library's symbols)
# Qt Mutidedia lib will ref to network libraray.
override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--warnings=0
